
@{
    ViewBag.Title = "Info";
}

<html>
<head>
    <title></title>
</head>
<style>
    .center {
        margin: auto;
        width: 40%;
        border: 3px solid #19344F;
        padding: 10px;
    }

</style>

<body style="margin:50px">
    
    <h2 align="center" style="color: #19344F;">   ROUTE INFORMATION</h2>
        <br />
        <br />


    <div class="center">

        <table  align="center" width="100%">
            <tr>
                <th>R_id</th>
                <th>Source</th>
                <th>Destination</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Indore</td>
                <td>Pune</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Indore</td>
                <td>Mumbai</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Pune</td>
                <td>Mumbai</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Mumbai</td>
                <td>Bhopal</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Bhopal</td>
                <td>Ujjain</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Indore</td>
                <td>Pune</td>
            </tr>


        </table>
   
        </div>
</body>
</html>

