@model Travel.Models.BusViewModel

@{
    ViewBag.Title = "Index";
}




<div class="jumbotron">
    <h2>Online Bus Ticket Booking System</h2>
    <p class="lead"> Widest number of travel options across thousands of routes.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>


@*<div class="routeinfo">
    <h3> Choose the Route: </h3>
    @using (Html.BeginForm("Index","Home", FormMethod.Post))
    {

        @Html.DropDownListFor(m => m.C_id, new SelectList(Model.citylist, "C_id", "City"))
    }
</div>*@





<div class="source">
        <h3> Source: </h3>
        @using (Html.BeginForm("Index","Admin", FormMethod.Post))
        {

            @Html.DropDownListFor(m => m.C_id, new SelectList(Model.citylist, "C_id", "City"))
        }
    </div>



    <div class="destination">
        <h3> Destination: </h3>
        @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
        {

            @Html.DropDownListFor(m => m.C_id, new SelectList(Model.citylist, "C_id", "City"))
        }
    </div>


    <div>
    <h2> </h2>
    <button id="addroute"> Add </button>

     </div>


    @*<div class="row">


        <table>
            <tr>
                <td>Source:
                <select id="source">
        <option value="1">Indore</option>
        <option value="2">Pune</option>

    </select>
                </td>
                <td>Destination:
                    <select id="destination">
                        <option value="1">Pune</option>
                        <option value="2">Indore</option>

                    </select></td>

                <td>Date:
                    <input type="date" id="date" /></td>

                <td><button id="search" onclick="window.location.href ='/detail/index'"> Search Buses </button></td>
            </tr>
        </table>
    </div>*@

